<!DOCTYPE html>
<html lang="en">
  <%- include('head'); %>

  <body>
    <div class="container">

      <div class="row">
        <a class="header" href="/">
          <div class="three column">
            <img src="https://bostondsa.org/wp-content/uploads/2022/12/Email-header-1.png" width="168" height="56"></img>
          </div>
          <div class="nine columns">
            <h1>Boston DSA</h1>
          </div>
        </a>
      </div>

      <div class="row">
        Welcome, <a href="mailto:<%= email %>"><%= email %></a>
        <a href="/logout" class="u-pull-right button">Logout</a>
      </div>

      <% rows.map((row) => { %>

        <div class="row" style="margin-top: 1em;">
          <h5><%= row.header %></h5>
        </div>

        <% row.cards.forEach((group) => { %>
          <div class="row">

            <% group.map((card) => { %>

              <div class="four columns">
                <div class="card" onClick="location.href = '<%= card.url %>';">
                  <header class="card__header" style="background: <%= card.bg %>;">
                    <img class="card__icon" src="<%= card.icon %>" alt="<%= card.alt %>" style="<%= card.style %>"/>
                  </header>
                  <section class="card__body">
                    <h2 class="card__title"><%= card.title %></h2>
                    <span class="card__subtitle"><%= card.subtitle %></span>
                  </section>
                </div>
              </div>

            <% }); %>

          </div>
        <% }); %>

      <% }); %>
      <br/>
    </div>
  </body>
</html>
