<!DOCTYPE html>
<html lang="en">
  <%- include head.ejs %>

  <body>
    <div class="container">

      <div class="row">
        <a class="header" href="/">
          <div class="one column">
            <img src="https://s3.amazonaws.com/design.dsausa.org/dsa-circle.png" width="56" height="56"></img>
          </div>
          <div class="eleven columns">
            <h1>Boston DSA</h1>
          </div>
        </a>
      </div>

      <div class="row">
        Welcome, <a href="mailto:<%= email %>"><%= email %></a>
        <a href="/logout" class="u-pull-right button">Logout</a>
      </div>

      <% rows.map((row) => { %>

        <div class="row">

          <% row.map((card) => { %>

            <div class="four columns">
              <div class="card" onClick="location.href = '<%= card.url %>';">
                <header class="card__header" style="background: <%= card.bg %>;">
                  <img class="card__icon" src="<%= card.icon %>" alt="<%= card.alt %>" style="<%= card.style %>"/>
                </header>
                <section class="card__body">
                  <h2 class="card__title"><%= card.title %></h2>
                  <span class="card__subtitle"><%= card.subtitle %></span>
                </section>
              </div>
            </div>

          <% }); %>

        </div>

      <% }); %>
      <br/>
    </div>
  </body>
</html>
