<!DOCTYPE html>
<html lang="en">
  <%- include head.ejs %>
  <body>
    <style>
      .meetings .row {
        padding-bottom: 2em;
      }
      .zoom_account {
        color: #bbbbbb;
      }
    </style>
    <div class="container">
      <div class="row">
        <a class="header" href="/">
          <div class="one column">
            <img src="https://s3.amazonaws.com/design.dsausa.org/dsa-circle.png" width="56" height="56"></img>
          </div>
          <div class="eleven columns">
            <h1>Boston DSA</h1>
          </div>
        </a>
      </div>
      <div class="row">
        <h2>Zoom Meetings</h2>
      </div>
      <div class="row meetings">
      <% meetings["dates"].forEach(function(dt){ %>
        <hr>
        <% meetings["meetings"][dt].map((meeting) => { %>
        <div class="row">
          <div class="three columns">
            <div><%= meeting.med_date %></div>
            <div><%= meeting.time_range %></div>
            <div class="zoom_account">Zoom account: <%= meeting.zoom_account %></div>
          </div>
          <div class="nine columns">
            <h3><%= meeting.topic %></h3>
            <div><%= meeting.agenda %></div>
            <div><a href="<%= meeting.join_url %>"><%= meeting.join_url %></a></div>
          </div>
        </div>
        <% }); %>
      <% }); %>
      </div>
      <div class="row zoom_account">
        <dl>
          <dt>Zoom Account 1</dt><dd>info@bostondsa.org</dd>
          <dt>Zoom Account 2</dt><dd>treasurer@bostondsa.org</dd>
          <dt>Zoom Account 3</dt><dd>zoom@bostondsa.org</dd>
        </dl>
        <p>More info can be found on the <a href="https://wiki.bostondsa.org/view/How_to_set_up_a_Zoom_call">wiki</a>.</p>
      </div>
    </div><!--container-->
  </body>
</html>